
.about__text--link {
    color: #25a1fa;
    &:hover{
        color: #1768a2;
    }
}

.about__text {
    font-size: 15px;
}

.about__text--part-2 {
    display: block;
    margin-top: 5px;
}
.about__item {
    position: relative;
}
.about__item--img-btn{
    position: absolute;
        bottom: 15px;
        right: 12px;
        pointer-events: none;

    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    
    
    color: var(--color-icons) ;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--color-icons-active);
        }
 
}

.about__item--img-btn-icon {
    width: 30px;
    height: 30px;
    fill: currentColor;
   
}
// .about__item--img-btn::after{
//     content: '+';

//     display: flex;
//     justify-content: center;
//     align-items: center;

    
    // color: var(--color-icons);
    //     border: 4px solid var(--color-icons);
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
//     font-size: 30px;
//     font-weight: 800;
// }
// .about__item--img-btn:hover{
//     color: var(--color-icons-active);
//     border-color: var(--color-icons-active);
// }


@media screen and (max-width:767px) {

    .about__item--img {
        width: 100%;
    }
    
    .about__item {
        margin-top: 15px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {

    .about__text {

        line-height: 1.1;
        width: 359px;
        height: 270px;
    }

    .about__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
       
    }

    .about__item--img {
        width: 359px;
        height: 280px;
    }
}

@media screen and (min-width:1200px) {
    
        .about__text {
            width: 555px;
            height: 390px;
    
            line-height: 1.5;
            font-size: 20px;
           
        }
    
        .about__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
    
        }
    
        .about__item--img {
            width: 555px;
            height: 390px;
        }

        .about__item--img-btn {
            width: 50px;
            height: 50px;
        }

        .about__item--img-btn-icon {
            width: 50px;
            height: 50px;
        }
}