body {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    background-color: var(--background-color-primary);
    font-weight: 400;
    font-size: 16px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.link{
   
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}