// Mobile and Global Version
.fishes__list--item-img {
    object-fit: cover;
}

.fishes__list--item-title {
    text-align: center;
    font-size: 15px;
}
.fishes__list--item--text {
    font-size: 14px;
    text-align: center;

}

.fishes__list--item-container {
    padding: 10px;
    border: 1px solid var(--color-titels);
    border-top: 0;
    
}

.fishes__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fishes__list--item:hover {
    box-shadow: 2px 2px 5px var(--color-icons-active);
    
}
.fishes__list--item:hover .fishes__list--item-container {
    border: 0;
}

.fishes__list--item--link{
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #25a1fa;
    
        &:hover {
            color: #1768a2;
        }
}

// Tablet Version
@media screen and (min-width:768px) {
    .fishes__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .fishes__list--item{
        width: 359px;
    }
   .fishes__list--item-img{
    height: 315px;
   }
}

// Desktop Version
@media screen and (min-width:1200px) {
   .fishes__list{
    gap:20px;

   }
   .fishes__list--item {
    width: 365px;
         }

}


// .fishes__list--item-container{
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
// }





// @media screen and (min-width:768px) {
    
//     .fishes__list--item{
//         display: flex;
//         justify-content: space-between;
//         gap: 20px;
//     }
//     .item-reverse{
//         flex-direction: row-reverse;
//     }
//     .fishes__list--item-img{
//         width: 380px;
//         max-height: 350px;
//     }
//     .fishes__list--item-container{
//         width: 320px;
//         text-align: center;
//         align-items: center;
//         justify-content: center;
//     }
//         .fishes__list--item-title{
//             font-size: 18px;
//         }
// }