// .hero-img {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 1421px;
//     height: 650px;
// }
.hero-title {
    margin-left: 5px;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero{
    position: relative;
        padding-top: 5px;
        margin: 0;
    width: 100%;   
}

@media screen and (min-width:320px) and (max-width:767px){
        .hero{background-image: linear-gradient(to right,
                    rgba(112, 112, 113, 0.126),
                    rgba(112, 112, 113, 0.126)),
                url('../images/HERO.JPG');
            background-repeat: no-repeat;
        
            background-size: contain;
            background-position: 50% 50%;
           
            min-height: 100px;
        }


}

@media screen and (min-width:1200px) {

    .hero{
        background-image: linear-gradient(to right,
                    rgba(112, 112, 113, 0.126),
                    rgba(112, 112, 113, 0.126)),
                url('../images/HERO.JPG');
            background-repeat: no-repeat;
            background-size: contain;
        
            min-height: 345px;
    }
    .links-box {
            margin-top: 525px;
            display: flex;
            align-items: center;
     }

     .smr-link {
        margin-left: 750px;
        color: white;
        text-align: center;
        
      &:hover {
           color: black;
        }
    }

}


.social-list--item_icon {
    width: 16px;
    height: 16px;
}

.social-list{
    display: flex;
    align-items: center;
    gap: 20px;

    // margin-top: 390px;
    margin-left: 130px;
    
}

.social-list--item__link {
    display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;
border: 2px solid white;
border-radius: 50%;
fill: white;
&:hover {
    border-color: black;
    fill: black;
}
}

.social-list--item__link-youtube {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 70px;
        border: 2px solid white;
        border-radius: 6px;
        fill: white;
        &:hover {
                border-color: black;
                fill: black;
            }
}

.social-list--item_icon-youtube {
    width: 60px;
}

