.hero-title {
    margin-left: 5px;
}
.header-box{
    position: relative;
//     display: flex;
// flex-direction: row-reverse;
// justify-content: space-between;
}

.logo {
    display: block;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

// .header-list{
//     display: flex;
//     flex-direction: column;
    
//     row-gap: 20px;
//     margin-top: 50px;
    
// }

.header-list__link{
    padding: 5px;
font-family: var(--font-family-primary);

    color: #3e3c3d;
    // border: 1px solid #fff;
    border-radius: 10px;
}

.hero {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    max-height: 500px;
  
}
.social-list {
    position: absolute;
    top: 265px;
    display: flex;
    align-items: center;
    gap: 8px;

    // margin-top: 390px;
    // margin-left: 10px;

}
 .social-list--item_icon {
     width: 10px;
     height: 10px;
 }
 .social-list--item_icon-youtube {
     width: 25px;
 }

.social-list--item__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    border: 2px solid #f1e8ca;
    border-radius: 50%;
    fill: #f1e8ca;

    &:hover,
        &:focus {
        border-color: #3e3c3d;
        fill: #3e3c3d;
    }
}

.social-list--item__link-youtube {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    width: 30px;
    border: 2px solid #f1e8ca;
    border-radius: 6px;
    fill: #f1e8ca;

    &:hover, &:focus {
        border-color: #3e3c3d;
        fill: #3e3c3d;
    }
}
//  .links-box {
//     //  margin-top: 525px;
//     //  display: flex;
//     //  align-items: center;
//  }

//  .smr-link {
//     display: block;
//     //  margin-left: 750px;
//      color: white;
//      text-align: center;

//      &:hover {
//          color: black;
//      }
//  }

// @media screen and (max-width:320px) {
//     .hero {
//         background-image:
//             url('../images/hero-mobile.jpg');
//         background-repeat: no-repeat;

//         background-position: 50% 50%;
//         background-size: 340px 300px;

//         padding-top: 150px;
//         padding-bottom: 150px;
//     }

//     .logo{
//         position: absolute;
//         top: 5px;
//         left: 90px
//     }

//     .logo-icon{
//         width: 145px;
//         height: 70px;

//     }

// }

@media screen and (min-width:300px) and (max-width:767px) {
    .hero {
        background-image:
            url('../images/hero-mobile.JPG');
        background-repeat: no-repeat;

        background-position: 50% 50%;
        background-size: 500px 400px;

        padding-top: 200px;
        padding-bottom: 200px;
    }
    .logo {
            position: absolute;
            top: 10px;
            left: 115px;
    }
    
    .logo-icon {
            width: 175px;
            height: 90px;
    
    }
    .social-list{
           top:360px;
    }
   .social-list--item_icon {
             width: 13px;
             height: 13px;
    }
    
    .social-list--item_icon-youtube {
             width: 35px;
    }
    .social-list--item__link {
             width: 25px;
             height: 25px;
    }
    .social-list--item__link-youtube{
        width: 45px;
        height: 20px;
    }


}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .hero {
        background-image: url('../images/HERO.JPG');
        background-size: 1000px 550px;
        max-width: 1000px;
        max-height: 450px;
        padding-top: 275px;
        padding-bottom: 275px;
    }

    .logo {
        position: absolute;
        top:10px;
        left: 300px;
    }
    .logo-icon {
            width: 255px;
            height: 130px;
    
    }

         .social-list {
            gap: 12px;
             top: 490px;
             left: 55px;
         }
    
         .social-list--item_icon {
             width: 18px;
             height: 18px;
         }
    
         .social-list--item_icon-youtube {
             width: 65px;
         }
    
         .social-list--item__link {
             width: 40px;
             height: 40px;
         }
    
         .social-list--item__link-youtube {
             width: 80px;
             height: 40px;
            border-radius: 10px;
         }
}

@media screen and (min-width:1200px) {
    .logo{
        position: absolute;
        top: 20px;
        left: 440px;
    }

    .logo-icon {
        width: 350px;
        height: 200px;
    }

    .hero {
        background-image:
            url('../images/HERO.JPG');

        background-size: 1450px 750px;
        max-width: 1450px;
        max-height: 700px;
        padding-top: 375px;
        padding-bottom: 375px;
    }

 .social-list {
    gap: 20px;
     top: 670px;
     left: 95px;
 }

 .social-list--item_icon {
     width: 18px;
     height: 18px;
 }

 .social-list--item_icon-youtube {
     width: 65px;
 }

 .social-list--item__link {
     width: 40px;
     height: 40px;
 }

 .social-list--item__link-youtube {
     width: 80px;
     height: 40px;
     border-radius: 10px;
 }
   

}










