:root {
    --color-primary: #3e3c3d;
   
    --color-titels: #868585;
    --color-icons: #f1e8ca;
    --color-icons-active: #3e3c3d;

    --color-icons-section: #afb1b8;
    --color-icons-footer: #ffffff;

    --background-color-primary: #fff;
    
    --font-family-primary: 'Noto Sans', sans-serif;
    --font-family-header: 'Lobster', sans-serif;
}
