:root {
  --color-primary: #3e3c3d;
  --color-titels: #868585;
  --color-icons: #f1e8ca;
  --color-icons-active: #3e3c3d;
  --color-icons-section: #afb1b8;
  --color-icons-footer: #ffffff;
  --background-color-primary: #fff;
  --font-family-primary: "Noto Sans", sans-serif;
  --font-family-header: "Lobster", sans-serif;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-primary);
  background-color: var(--background-color-primary);
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
}

.title {
  margin-bottom: 10px;
  color: var(--color-titels);
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 25px;
  }
}
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.hero-title {
  margin-left: 5px;
}

.header-box {
  position: relative;
}

.logo {
  display: block;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-list__link {
  padding: 5px;
  font-family: var(--font-family-primary);
  color: #3e3c3d;
  border-radius: 10px;
}

.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  max-height: 500px;
}

.social-list {
  position: absolute;
  top: 265px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-list--item_icon {
  width: 10px;
  height: 10px;
}

.social-list--item_icon-youtube {
  width: 25px;
}

.social-list--item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid #f1e8ca;
  border-radius: 50%;
  fill: #f1e8ca;
}
.social-list--item__link:hover, .social-list--item__link:focus {
  border-color: #3e3c3d;
  fill: #3e3c3d;
}

.social-list--item__link-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 30px;
  border: 2px solid #f1e8ca;
  border-radius: 6px;
  fill: #f1e8ca;
}
.social-list--item__link-youtube:hover, .social-list--item__link-youtube:focus {
  border-color: #3e3c3d;
  fill: #3e3c3d;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .hero {
    background-image: url("../images/hero-mobile.JPG");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 500px 400px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 115px;
  }
  .logo-icon {
    width: 175px;
    height: 90px;
  }
  .social-list {
    top: 360px;
  }
  .social-list--item_icon {
    width: 13px;
    height: 13px;
  }
  .social-list--item_icon-youtube {
    width: 35px;
  }
  .social-list--item__link {
    width: 25px;
    height: 25px;
  }
  .social-list--item__link-youtube {
    width: 45px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: url("../images/HERO.JPG");
    background-size: 1000px 550px;
    max-width: 1000px;
    max-height: 450px;
    padding-top: 275px;
    padding-bottom: 275px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 300px;
  }
  .logo-icon {
    width: 255px;
    height: 130px;
  }
  .social-list {
    gap: 12px;
    top: 490px;
    left: 55px;
  }
  .social-list--item_icon {
    width: 18px;
    height: 18px;
  }
  .social-list--item_icon-youtube {
    width: 65px;
  }
  .social-list--item__link {
    width: 40px;
    height: 40px;
  }
  .social-list--item__link-youtube {
    width: 80px;
    height: 40px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 440px;
  }
  .logo-icon {
    width: 350px;
    height: 200px;
  }
  .hero {
    background-image: url("../images/HERO.JPG");
    background-size: 1450px 750px;
    max-width: 1450px;
    max-height: 700px;
    padding-top: 375px;
    padding-bottom: 375px;
  }
  .social-list {
    gap: 20px;
    top: 670px;
    left: 95px;
  }
  .social-list--item_icon {
    width: 18px;
    height: 18px;
  }
  .social-list--item_icon-youtube {
    width: 65px;
  }
  .social-list--item__link {
    width: 40px;
    height: 40px;
  }
  .social-list--item__link-youtube {
    width: 80px;
    height: 40px;
    border-radius: 10px;
  }
}
.about__text--link {
  color: #25a1fa;
}
.about__text--link:hover {
  color: #1768a2;
}

.about__text {
  font-size: 15px;
}

.about__text--part-2 {
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .about__item--img {
    width: 100%;
  }
  .about__item {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__text {
    line-height: 1.1;
    width: 359px;
    height: 270px;
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about__item--img {
    width: 359px;
    height: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    width: 555px;
    height: 390px;
    line-height: 1.5;
    font-size: 20px;
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .about__item--img {
    width: 555px;
    height: 390px;
  }
}
.fishes__list--item-img {
  width: 100%;
}

.fishes__list--item-title {
  text-align: center;
  font-size: 15px;
}

.fishes__list--item--text {
  font-size: 14px;
  text-align: center;
}

.fishes__list--item-container {
  padding: 10px;
  border: 1px solid var(--color-titels);
  border-top: 0;
}

.fishes__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fishes__list--item:hover {
  box-shadow: 2px 2px 5px var(--color-icons-active);
}

.fishes__list--item:hover .fishes__list--item-container {
  border: 0;
}

.fishes__list--item--link {
  display: block;
  margin-top: 12px;
  text-align: center;
  color: #25a1fa;
}
.fishes__list--item--link:hover {
  color: #1768a2;
}

@media screen and (min-width: 768px) {
  .fishes__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .fishes__list--item {
    width: 359px;
  }
  .fishes__list--item-img {
    height: 315px;
  }
}
@media screen and (min-width: 1200px) {
  .fishes__list {
    gap: 20px;
  }
  .fishes__list--item {
    width: 365px;
  }
}
.falimy__text--foto {
  display: block;
  margin-top: 7px;
}

.family__list--item-img {
  width: 100%;
}

.family__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  transform: translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(93, 94, 91, 0.5568627451);
}

.overlay__text {
  margin: 0;
  padding: 60px 20px;
  color: var(--color-icons);
  font-size: 16px;
}

.overlay__container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.family__list--item:hover .overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .family__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .family__list--item {
    width: 359px;
  }
}
@media screen and (min-width: 1200px) {
  .family__list--item {
    width: 376px;
  }
  .family__list--item-img {
    height: 300px;
  }
  .family__text {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */